<% if !@export && !@stories.blank? %>
  <div class="related-links">
    <div class="h1"><%= t('storyteller.related_stories') %></div>
    <div class="themes">
      <span><%= t('storyteller.view_all_stories_in') %>&nbsp;</span>
      <% @story.themes.published.each { |t| %>
        <%= link_to t.name.split.map(&:capitalize).join(' '), theme_path(t.permalink) %>
      <% } %>
    </div>
  </div>
<% end %>
